*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35) ;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.hey{
    font-family: 'Silkscreen', cursive;
    color: black;
    size: 65%;
}

.hey2{
    display: none;
}

.cloud{
    position: absolute;
    width: 40%;
    padding-top: 5%;
    animation: clouds 20s infinite linear;
}


.skills{
    position: absolute;
     width: 230%;
    padding-top: 0%;
    animation: back 105s infinite linear;
}


@keyframes back {
    from{
        right: -240%;
    }

    to{
        right: 100%
    }
}


@keyframes clouds{
    from{
        right: -400px;
    }

    to{
        right: 100%
    }
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 0%;
    padding: 0%;
    margin: 0;
}


.jump{
    animation: jump 500ms ease-out;
}


@keyframes jump{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe-animation 1.5s infinite linear;
}

.gameover{
    width: 55%;
    text-align: center;
}


@keyframes pipe-animation{
    from{
        right: -80px;
    }

    to{
        right: 100%
    }
}

.press{
    width: 600px;
}
