
.container-fluid1{
    padding: 3% 15%;
}



body{
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
}

.navbar-brand{
    font-family: 'Silkscreen', cursive;
    font-size: 3em;
}

.Home{
    background-color: black;
}

a{
    text-decoration: none;
    color: currentColor;
}
/* .collapse{
    font-family: 'Silkscreen', cursive;
} */

 /* @media (max-width: 900px){

        .collapse{
            font-family: 'Silkscreen', cursive;
        }    

} */

#title {
    /*background-color: black ;*/   
    font-family: 'Manrope', sans-serif;
}
/* fonts */
.lora{
    font-family: 'Manrope', sans-serif;
}


#Embreve{
    text-align: center;
} 



/*TÍTULO*/
h1{
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 250%;
}
h6{
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 100%;

}

.btn{
    margin-top: 0.5em;
}

.b2{
    margin-left: 10%;
    margin-top: 0.5em;
    
}

.entry{
    padding-top: 10em;
    /*padding-left: 2em;*/
    text-align: center;  
}

a{
    color: currentColor;
    text-decoration: none;
}
/*--------------------------------*/

/*PARTE DOS TRABALHOS*/

.row{
    margin-bottom: 8em;
}
.container-fluid2{
    padding: 10% 15% 2% 15%;
   background-color: rgb(8, 8, 8);
}




/*------------*/


@media (max-width: 900px){
    

    h1{
        font-family: 'Manrope', sans-serif;
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }

    p{
        font-family: 'Manrope', sans-serif;
        color: white;
        font-size: 1.1rem;
        text-align: center;

    }

    .entry{
        padding-top: 0em;
        padding-left: 0em;
    }

    .btn{
        height: 6vh;
        width: 15vh;
        font-size: 2vh;
        margin-left: 2em;
        margin-top: 0em;
    }
}  

.globo{
    /* width: 45vw;
    height: 100vh; */
    /* background-size: cover;
    scale: 16/9; */
    height: 500px;
    width: 500px;
    margin-top: 0em;
} 

.imgG {
    animation: 200s rotate360 infinite linear; 
}

@keyframes rotate360 {
    to { transform: rotate(360deg); 
}
}

@media (max-width: 900px){
    .globo{
        margin-top: 2em;
        width: 280px;
        height: 280px;
    }
}  

